body {
  background-color: black;
  font-family: system-ui, sans-serif;
  color: white;
}

h1 {
  text-align: center;
  color: #668e88;
}

#game-grid {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 12px;
  padding: 12px;
  background: #668e88;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-height: 815px) {
  #game-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1080px) {
  #game-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 730px) {
  #game-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 490px) {
  #game-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#infos {
  position: absolute;
  z-index: 10;
  width: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
}

.blur {
  filter: blur(6px);
}

.launch-game {
  background-color: #668e88;
  border: none;
  color: white;
  padding: 10px 25px;
  font-size: 18px;
  cursor: pointer;
}

.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.flex-space-around {
  justify-content: space-around;
}

.game-card {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: url("/images/card-verso.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
  border: 3px solid gray;
  transition: border 0.2s ease;
}
.game-card:hover {
  border: 3px solid white;
}

.red-apple {
  background: url("/images/cards.png") no-repeat 0 0px !important;
}

.banana {
  background: url("/images/cards.png") no-repeat 0 -100px !important;
}

.orangefruit {
  background: url("/images/cards.png") no-repeat 0 -200px !important;
}

.green-lemon {
  background: url("/images/cards.png") no-repeat 0 -300px !important;
}

.pomegranate {
  background: url("/images/cards.png") no-repeat 0 -400px !important;
}

.apricot {
  background: url("/images/cards.png") no-repeat 0 -500px !important;
}

.yellow-lemon {
  background: url("/images/cards.png") no-repeat 0 -600px !important;
}

.strawberry {
  background: url("/images/cards.png") no-repeat 0 -700px !important;
}

.green-apple {
  background: url("/images/cards.png") no-repeat 0 -800px !important;
}

.peach {
  background: url("/images/cards.png") no-repeat 0 -900px !important;
}

.green-grape {
  background: url("/images/cards.png") no-repeat 0 -1000px !important;
}

.watermelon {
  background: url("/images/cards.png") no-repeat 0 -1100px !important;
}

.plumfruit {
  background: url("/images/cards.png") no-repeat 0 -1200px !important;
}

.orange-pear {
  background: url("/images/cards.png") no-repeat 0 -1300px !important;
}

.cherry {
  background: url("/images/cards.png") no-repeat 0 -1400px !important;
}

.raspberry {
  background: url("/images/cards.png") no-repeat 0 -1500px !important;
}

.mango {
  background: url("/images/cards.png") no-repeat 0 -1600px !important;
}

.yellow-cherry {
  background: url("/images/cards.png") no-repeat 0 -1700px !important;
}

.selected {
  border: 3px solid orange !important;
}

.confirmed {
  border: 3px solid darkgreen !important;
}

progress {
  width: 100%;
  height: 30px;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  left: 0;
  bottom: 0;
}
progress::-webkit-progress-bar {
  background-color: lightgrey;
}
progress::-webkit-progress-value {
  background-color: #668e88;
}
progress::-moz-progress-bar {
  background-color: lightgrey;
  border-radius: 5px;
}
@media (max-height: 900px) and (max-width: 730px), (max-width: 1080px) and (max-height: 840px), (max-height: 600px) {
  progress {
    position: initial;
    margin-top: 10px;
  }
}

#timer {
  color: #fffed7;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
